# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
frontend/node_modules/
frontend/build/

# Stanford CoreNLP
stanford-corenlp-4.5.7/
stanford-corenlp-4.5.7.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db